@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyEvents</h1>
    <p>This site is designed to help you sign up to events you would like to attend</p>
    <div class="container-fluid">
        <div class="row">
            <div class="align-content-center">
                <a asp-page="/Events/Index"><button class="btn-block">Register</button></a>
                <a asp-page="/Events/Index"><button class="btn-block">Login</button></a>
            </div>
        </div>
    </div>
</div>
