@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyEvents</h1>
    <p>This site is designed to help you sign up to events you would like to attend</p>
    <div class="container-fluid">
        <div class="row">
            <div class="flex-grow-1 align-self-center">
                <a class="btn btn-danger" asp-page="/Events/Index">Register</a>
                <a class="btn btn-primary" asp-page="/Events/Index">Login</a>
            </div>
        </div>
    </div>
</div>
