@page
@model MyEvents.Pages.Attendees.MyEventsModel

@{
    ViewData["Title"] = "MyEvents";
}

<h1>MyEvents</h1>

<table class="table">
    <thead>
        <tr>
            <th>What</th>
            <th>When</th>
            <th>Where</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Attendee.Events)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>@Html.DisplayFor(modelItem => item.Venue)</td>
        </tr>
        }
    </tbody>   
</table>
<a class="btn btn-outline-primary" asp-page="../Events/Index">Find more events to join</a>
