@page
@model MyEvents.Pages.Attendees.MyEventsModel

@{
    ViewData["Title"] = "MyEvents";
}

<h1>MyEvents</h1>

<table>
    @foreach (var item in Model.Attendee.Events)
    {
        @Html.DisplayFor(modelItem => item.Title);
    }
</table>

